header{
    background-color: green;
    height: auto;
}

body{
    background: url(background.png);
    background-size: cover;
}

nav{
    text-align: center;
}

nav li{
    display: inline;

    margin: 0px 20px 0px 20px;

    list-style: none;
}

a{
    color:white;
    text-decoration: none;

    background-color: rgb(2, 83, 2);
    padding: 20px;
}

li:hover a{
    background-color: red;
}

div{
    display: flex;
    height: 100%;
    
}

footer{
    background-color: green;
}