*[id^="map"]{
    height:250px;
    width: 800px;
}

header:not(.deco){
    background-color: rgb(64, 137 , 6);
    border-radius: 6px;
    padding: 1%;
    display: flex;
    align-items: center;
}

img.logo{
    max-width: 16%;
    height: max-content;
}

nav{
    text-align: center;
    margin-left: 25%;
}

.h{
    color: white;
}

nav li{
    display: inline;
    padding: 10px;
    background-color: rgb(49, 102, 7);
    margin-right: 25px;
}
nav li:hover{
    background-color: rgb(23, 45, 5);
}
.butt{
    text-decoration: none;
    color: white;
}
.butt:visited{
    text-decoration: none;
}

.deco{
    text-align: right;
    margin-left: auto;

}


main{
    display: flex;

}

.side{
    background-color: rgb(64, 137 , 6);
    border-radius: 6px;
    float: left;
    text-align: center;
    padding: 6px;
}
.side img{
    border-radius: 50%;
}
.side p{
    color: white;
}
.side a{
    color: white;
    text-decoration: underline;
}

.se{
    margin-left: 1%;
}

.follow{
    margin-left: 7%;
}