*[id^="map"]{
    height:250px;
    width: 800px;
}

input[type="submit"]{
    cursor:pointer;
    color: white;
    background-color: rgb(49, 102, 7);
    border: none;
    border-radius: 6px;
    padding: 6px;
}
input[type="submit"]:hover{
    background-color: rgb(23, 45, 5);

}


header:not(.deco){
    background-color: rgb(64, 137 , 6);
    border-radius: 6px;
    padding: 1%;
    display: flex;
    align-items: center;
}

img.logo{
    max-width: 16%;
    height: max-content;
}

nav{
    text-align: center;
    margin-left: 25%;
}

.h{
    color: white;
}

nav li{
    display: inline;
    padding: 10px;
    background-color: rgb(49, 102, 7);
    margin-right: 25px;
}
nav li:hover{
    background-color: rgb(23, 45, 5);
}
.butt{
    text-decoration: none;
    color: white;
}
.butt:visited{
    text-decoration: none;
}
.deco{
    text-align: right;
    margin-left: auto;
    color: green;

}

main{
    display: flex;

}

.side{
    background-color: rgb(64, 137 , 6);
    border-radius: 6px;
    float: left;
    text-align: center;
    padding: 6px;
}
.side img{
    border-radius: 50%;
}
.side p{
    color: white;
}
.side a{
    color: white;
    text-decoration: underline;
}

.se{
    margin-left: 1%;
}

.follow{
    margin-left: 7%;
}


table {
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    border-collapse: collapse;
}

td { 
    border-width:1px;
    border-style:solid; 
    border-color:black;
    width: 8rem;
}

.comments {
    border-width:1px;
    border-style:solid; 
    border-color:black;
    width: 41rem;
    height: 4rem;
}