header:not(button){
    text-align: center;
}

img.logo{
    max-width: 16%;
    height: auto;
}

nav li{
    display: inline;
    padding: 10px;
    background-color: rgb(64, 137 , 6);
    margin-right: 20px;
}
nav li:hover{
    background-color: rgb(23, 45, 5);
}
.butt{
    text-decoration: none;
    color: white;
}
.butt:visited{
    text-decoration: none;
}

.deco{
    text-align: right;
}

main{
    display: flex;
}

.side{
    background-color: rgb(64, 137 , 6);
    border-radius: 6px;
    float: left;
    text-align: center;
}
.side img{
    border-radius: 50%;
}

div.side a p{
    color: white;
    text-decoration: none;
}



footer{

}