html{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    font-size: large;
}

input[type="submit"]{
  cursor:pointer;
  color: white;
  background-color: rgb(49, 102, 7);
  border: none;
  border-radius: 6px;
  padding: 6px;
}
input[type="submit"]:hover{
  background-color: rgb(23, 45, 5);
}

header:not(.deco){
  background-color: rgb(64, 137 , 6);
  border-radius: 6px;
  padding: 1%;
  display: flex;
  align-items: center;
}

img.logo{
  max-width: 16%;
  height: max-content;
}

nav{
  text-align: center;
  margin-left: 25%;
}

.h{
  color: white;
}

nav li{
  display: inline;
  padding: 10px;
  background-color: rgb(49, 102, 7);
  margin-right: 25px;
}
nav li:hover{
  background-color: rgb(23, 45, 5);
}
.butt{
  text-decoration: none;
  color: white;
}
.butt:visited{
  text-decoration: none;
}
.deco{
  text-align: right;
  margin-left: auto;
  color: green;

}

.pp{
  max-width: 150px;
}

.edit{
  text-decoration: none;
  padding: 3px;
  color: white;
  background-color: rgb(49, 102, 7);
}
.edit:hover{
  background-color: rgb(23, 45, 5);
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    transition: opacity .4s;
    visibility: hidden;
    opacity: 0;
  }

  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .edit_form {
    text-align: center;
    margin: 6rem auto;
    padding: 2rem;
    background: #fff;
    border-radius: 5px;
    width: 45%;
    position: relative;
    transition: all 0.4s ease-in-out;
  }

  .edit_form .cross {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
    color: #333;
  }

  .edit_form .cross:hover {
    color: red;
  }

  table {
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    border-collapse:collapse;
}

td { 
    border-width:1px;
    border-style:solid; 
    border-color:black;
    width: 8rem;
}

.comments {
    border-width:1px;
    border-style:solid; 
    border-color:black;
    width: 41rem;
    height: 4rem;
}